{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "vueIndentScriptAndStyle": true,
  "singleQuote": true,
  "semi": true,
  "printWidth": 100
}
