@use 'mixins';
@use 'variables';

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background: variables.$color-highlight;
  color: variables.$color-highlight-text;
}

body {
  font-weight: variables.$font-weight-default;
  line-height: 1.6;
  color: variables.$color-text-light;
  background-color: variables.$color-background;
  overflow-x: hidden;
  overflow-y: scroll; // prevent slight layout shift when introducing content below the fold

  &::-webkit-scrollbar {
    background-color: variables.$color-background-light;
    width: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-thumb {
    background-color: variables.$color-text-light;
  }
}

body * {
  // for prefers-reduced-motion
  @include mixins.motionless {
    transition: all 0s !important;
    animation: none !important;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-family: variables.$font-family-main;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 1s;
}

section {
  padding: 4rem 1rem;
  position: relative;
  scroll-margin-top: calc(var(--nav-mobile-height) + 1rem);

  @include mixins.respond(desk-small) {
    padding: 5rem 2rem;
    scroll-margin-top: -2rem;
  }

  @include mixins.respond(desk-large) {
    max-width: 80%;
    margin: auto;
  }

  &.full-width {
    max-width: 100%;
  }
}

.row {
  max-width: 1920px;
}

a:hover,
a:active,
a:focus {
  color: variables.$color-text-light;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

// Layout
main,
footer {
  @include mixins.respond(desk-small) {
    padding: 0 var(--nav-desktop-width);
  }
}
main {
  opacity: 1;
  padding-top: var(--nav-mobile-height);

  @include mixins.respond(desk-small) {
    padding-top: 0;
  }
}
footer {
  min-height: var(--nav-mobile-height);

  @include mixins.respond(desk-small) {
    min-height: var(--nav-desktop-width);
  }
}
