@use 'mixins';
@use 'variables';

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-self-start {
  align-self: flex-start;
}
.screen-reader-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
}
.no-scroll {
  overflow: hidden;
}
.color-primary {
  color: variables.$color-primary;
  font-weight: 500;
}
.hide-for-large {
  @include mixins.respond(desk-small) {
    display: none !important;
  }
}
.pointer-none {
  pointer-events: none;
}
.brighten {
  filter: brightness(1.6);
}
.bg-white {
  background-color: #fff;
}
