// Custom Animations
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Vue Transition Classes
.list-item {
  transform: translateY(0) scale(1);
  transition: transform 0.45s, opacity 0.3s;
}
.list-enter,
.list-leave-to {
  opacity: 0;
}
.list-leave-active {
  position: absolute;
}
.list-move {
  transition: transform 1s, opacity 0.3s;
}
