// Custom Animations
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-up {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-in-up {
  animation: fade-in-up 1s ease forwards;
}

// Vue Transition Classes
.opacity-0 {
  opacity: 0;
  transition: opacity 1s 0.75s;
}
.opacity-1 {
  opacity: 1;
}
.list-item {
  transition: transform 0.45s, opacity 0.3s;
}
.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px) scale(0.1); // scale(0) bugs out in Safari
}
.list-leave-active {
  position: absolute;
  opacity: 0;
}
.list-move {
  transition: transform 1s, opacity 0.3s;
}
