.btn {
  font-family: $font-family-main;
  font-size: clamp(0.5rem, calc(-0.875rem + 8.333vw), 1.15rem);
  font-weight: 700;
  width: 100%;
  height: 47px;
  padding: 0.5rem 0.8rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  position: relative;
  display: inline-block;
  border: 1px solid $color-primary;
  border-radius: $design-border-radius-default;
  cursor: pointer;

  &--primary {
    background-color: $color-primary;
    color: $color-text-dark;

    &:hover,
    &:active {
      background-color: rgba($color-primary, 0.85);
    }

    &:focus {
      color: $color-text-dark;
    }
  }

  &--secondary {
    background-color: transparent;
    color: $color-primary;

    &:hover,
    &:active {
      background-color: $color-primary;
    }

    &:focus {
      color: $color-primary;
    }
  }

  &:hover,
  &:active {
    color: $color-text-dark;
  }
}

.heading {
  line-height: 1;

  &--1 {
    font-size: clamp(3rem, calc(-0.875rem + 8.333vw), 6rem);
    font-weight: 300;
    color: $color-primary;
  }

  &--2 {
    font-size: clamp(2rem, calc(-0.875rem + 8.333vw), 2.5rem);
    font-weight: 300;
  }

  &--3 {
    // mobile section headers
    font-size: clamp(4.5rem, calc(-0.875rem + 8.333vw), 6rem);
    font-weight: 700;
    color: $color-background-light;
    position: absolute;
    top: 1.75rem;
    left: 0;
    z-index: -1;
  }

  &--4 {
    font-weight: 500;
    font-size: clamp(1.8rem, calc(-0.875rem + 8.333vw), 2rem);
    color: $color-primary;
  }

  &--section {
    text-align: center;

    @include respond(tab-port) {
      text-align: left;
    }

    @include respond(desk-small) {
      text-align: center;
    }
  }
}

p {
  font-size: clamp(1rem, calc(-0.875rem + 8.333vw), 1.3rem);
  margin-bottom: 1rem;
  font-weight: 400;
}
