.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-self-start {
  align-self: flex-start;
}
.screen-reader-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
}
.no-scroll {
  overflow: hidden;
}
.color-primary {
  color: $color-primary;
  font-weight: 500;
}
.hide-for-large {
  @include respond(desk-small) {
    display: none !important;
  }
}
.anchor-span {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: calc(-1.25 * var(--nav-mobile-height));

  @include respond(desk-small) {
    top: 0;
  }
}
.brighten {
  filter: brightness(1.6);
}
