// colors
$color-primary: #c5a47e;
$color-text-dark: #272727;
$color-text-light: #fff;
$color-background: #272727;
$color-background-light: #333;
$color-highlight: #c5a47e;
$color-highlight-text: #272727;

// layout
// custom properties so we can expose them to JS
:root {
  --nav-mobile-height: 75px;
  --nav-desktop-width: 95px;
  --scrollbar-width: 3px;
}

// design
$design-border-radius-default: 3px;
$design-box-shadow-default: 0 2rem 5rem 0 rgba(0, 0, 0, 0.1);

// fonts
$font-family-main: 'Alegreya Sans', sans-serif;
$font-weight-default: 400;
